{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Micro-Services Deployment on Kubernetes</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static 'main.css' %}"/>
	</head>
	<body>
		<!-- Banner -->
            <section id="banner">
                <h2><strong>Deployment</strong> of <br>
                    <strong>Micro-Services</strong> <br>
                    using <strong>Kubernetes</strong> on <strong>Azure</strong>
                </h2>
				<p>Brought to you by Neeraj Dhiman </p>
			</section>
            <div id="msg_div">
                <span id="msg"></span>
            </div>
			<section style="display: flex; justify-content: space-evenly; align-items: center; padding: 2em">

                <section id="sms" style="display: flex; flex: 1; justify-content: space-evenly; flex-direction: row; border-right: thin solid lightgray;" >
                    <form name="OTPForm" id="OTPForm">
                        <input placeholder="Phone Number" id="otp-phoneno"><br/>
                        <button class="button special" type="submit" style="margin-top: 1em">Generate & Send OTP</button>
                    </form>
                </section>
                <section style="display: flex; flex: 1; justify-content: space-evenly; flex-direction: row" >
                    <form name="notifyForm" id="notifyForm">
                        <input placeholder="Phone Number" id="sms-phoneno"><br/><br>
                        <input placeholder="SMS Body" id="sms-body"><br/>

                        <button class="button special" type="submit" style="margin-top: 1em">Send Notification</button>
                    </form>
                </section>
            </section>
    <footer class="footer-pink">
        <span style="margin: 0 0 0 484px">Micro-services deployment using Kubernetes</span>
    </footer>
	</body>


{#    jquery #}
    <script type="application/javascript" src="{% static 'jquery.min.js' %}" ></script>

    <script>
        $(document).ready(function () {

            {# OTP & Notification #}
            $('#OTPForm').submit(function (event) {
                event.preventDefault();
                var csrftoken = '{{csrf_token}}';
                var phone_no =  $('#otp-phoneno').val();

                var otp_url = '/create-otp/'
                $.ajax({
                    type: 'POST',
                    url: otp_url,
                    headers: {
                        "X-CSRFToken": csrftoken,
                    },
                    data : {"phone_no":phone_no},
                    error: function (response) {
                        $('#msg_div').text('OTP Service is down').addClass('isa_warning')
                    },
                    success: function (response) {
                        $('#msg_div').text('OTP Sent.').addClass('isa_success')
                    }
                });
            });

            {# Only Notification #}
            $('#notifyForm').submit(function (event) {
                event.preventDefault();
                var csrftoken = '{{csrf_token}}';
                var phone_no =  $('#sms-phoneno').val();
                var body =  $('#sms-body').val();

                var url = '/notify/'
                $.ajax({
                    type: 'POST',
                    url: url,
                    headers: {
                        "X-CSRFToken": csrftoken,
                    },
                    data : {"phone_no":phone_no, "body":body},
                    error: function (response) {
                        $('#msg_div').text('Notify Service is down').addClass('isa_warning')
                    },
                    success: function (response) {
                        $('#msg_div').text('Sample SMS Sent.').addClass('isa_success')
                    }
                });
            });
        });
    </script>
</html>